* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #28313B, #485461);
    min-height: 80vh;
}

h2 {
    font-size: 3rem;
    color: rgba(0, 0, 0, .1);
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background: #2C3E50;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(53, 77, 78);
}

.hours, .minutes, .seconds, .dots {
    font-size: 4rem;
    color: rgb(201, 201, 201);
}

#ampm {
    font-size: 2rem;
    color: rgb(126, 126, 126);
}
